@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 ************************** 
 root styles 
 ************************** */
:root {
  /* color profiles */
  --theme-base: hsl(26, 39%, 65%);
  --theme-base-100: hsl(27, 27%, 69%);
  --theme-base-200: hsl(27, 15%, 57%);

  --theme-gray: hsl(47, 10%, 83%);
  --theme-gray-100: hsl(216, 12%, 84%);

  --theme-slate: hsl(215, 25%, 24%);
  --theme-slate-100: hsl(210, 7%, 17%);

  /* shadows */
  --shadow-base-1: 7px 7px 10px hsl(48, 2%, 47%);
  --shadow-base-2: -7px -7px 24px hsla(60, 100%, 98%, 0.85);
  --shadow-primary: 7px 7px 10px hsl(48, 2%, 47%),
    0px 4px 4px hsla(0, 0%, 0%, 0.25);

  /* gutters */
  --gutter: 1rem;

  /* radius */
  --rounded-base: 0.375rem;
}

/* 
 ************************** 
 global styles 
 ************************** */

@layer base {
  /* body */
  html,
  body,
  #__nuxt,
  #__nuxt > div {
    @apply h-full;
  }

  /* keep footer to bottom of page */
  #__nuxt > div {
    @apply flex flex-col;
  }

  body {
    @apply bg-theme-base;
  }

  /* headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-theme-slate-100 md:text-xl;
  }

  p {
    @apply text-theme-slate md:text-lg;
  }

  li a,
  span,
  svg {
    @apply text-theme-slate;
  }

  /*  input, select element, textarea */
  select {
    @apply appearance-none;
  }

  input,
  textarea,
  select {
    @apply w-full rounded-md border border-gray-400 p-2 focus:border-theme-base focus:outline-none focus:ring-1 focus:ring-theme-base;
  }

  input,
  textarea {
    @apply bg-theme-gray;
  }

  select {
    background-position: 98% center;
    @apply bg-[url('/images/chevron-down.svg')] bg-no-repeat;
  }

  /* label only for screen readers */
  label {
    @apply sr-only;
  }
}

/* 
 ************************** 
 components styles 
 ************************** */

@layer components {
  /* buttons */
  .button {
    @apply w-full text-center;

    &-pill {
      @apply rounded-full;
    }

    &-primary {
      @apply bg-white/50 text-theme-slate-100;
    }

    &-rounded-base {
      @apply rounded-base;
    }

    &-rounded-hero {
      @apply rounded-tl-3xl rounded-br-3xl rounded-bl-none rounded-tr-none;
    }

    &-padding-sm {
      @apply px-4 py-2;
    }

    &-padding-lg {
      @apply py-2.5 px-8;
    }

    &-padding-hero {
      @apply px-6 
      py-1.5;
    }
  }

  .information-card {
    box-shadow: inset var(--shadow-base-1), inset var(--shadow-base-2);
    @apply rounded-xl bg-theme-gray px-8 py-8;
  }

  .menu-heading {
    @apply mb-2 inline-block text-lg font-medium capitalize md:border-b md:border-theme-base-200;
  }
}
